html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {
  /* height: 12px; */
  width: 10px;
  background-color: azure;
  /* background: #000; */
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* Firefox Scrollbars */
* {
  scrollbar-width: thin;
}

#root {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  /* border: solid 1px red; */
  height: 100%;
}

.inputForm {
  width: 30%;
  /* border: solid 1px red; */
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.cv-display {
  border: solid 1px black;
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 70%;
}

input {
  border: solid 1px black;
}

@media screen and (width < 1000px) {
  #root {
    background-color: red;
    flex-direction: column;
  }

  .inputForm,
  .cv-display {
    width: 100%;
  }
}
