.inputForm {
  height: 100%;
  width: 100%;
  max-width: 600px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cv-display {
  /* border: solid 1px black; */
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 600px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cv-main {
  padding-left: 10px;
  padding-right: 10px;
}

.divider {
  width: 100px;
}

@media screen and (width < 900px) {
  .inputForm,
  .cv-display {
    max-width: 100%;
  }

  .divider {
    height: 100px;
  }
}
