html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: #cccccc;
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  -ms-overflow-style: none; /* Hide scrollbar on Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome */
}

#root {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #333333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.main-wrapper {
  display: flex;
  margin: 20px 50px 20px 50px;
  max-height: 750px;
  justify-content: space-between;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {
  /* height: 12px; */
  width: 10px;
  background-color: azure;
  /* background: #000; */
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* Firefox Scrollbars */
* {
  scrollbar-width: thin;
}

@media screen and (width < 900px) {
  .main-wrapper {
    flex-direction: column;
  }

  header {
    justify-content: center;
  }
}
